.glightbox .skill-icon {
    margin-right: 1em;
    margin-bottom: 1em;
    width: 100px;
    height: 100px;
    float: left;
    clear: left;
    border: .05rem solid var(--md-typeset-table-color);
    border-radius: .1rem;
}